/* Custom styles for CCW Law
 * Created by William Worrall
 *
 * Includes styling for sticky footer found at:
 * https://github.com/mahmoud/skeleton_sticky_footer
 * And for implementation of FlexSlider by:
 * http://flexslider.woothemes.com
 *
 * Table of contents
 * -----------------
 * General
 * Header
 * Primary Navigation
 * FlexSlider
 * Services
 * Embedded Google Map
 * Contact
 * Quick Reads
 * Sticky Footer Setup
 * Footer
 * Media Queries
 *
 * */

/* General
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
    font-family: 'Muli', sans-serif;
}

p {
    margin: 0.75em 0em 0.75em;
    text-align: justify;
    text-justify: inter-word;
}

hr {
    margin: 0em 0em 0.5em;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin: 1em 0em 0em;
}

h2 {
    font-size: 1.75em;
    margin: 0.5em 0em 0em;
    color: #112956;
}


/* Header
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
header {
    text-align: center;
}

header img {
    max-width:100%;
    height: auto;
    max-height: 4em;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}


/* Primary Navigation
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
.band.navigation {
    background: #142D82;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

nav.primary {
    text-align: center;
}

nav.primary ul,
nav.primary ul li {
    margin: 0em;
}

nav.primary ul {
    display: none;
    list-style: none;
}

nav.primary ul li {
    display: inline;
    float: left;
    position: relative;
}

nav.primary ul li a {
    display: inline-block;
    line-height: 3em;
    padding: 0 1em;
    color: rgb(256, 256, 256);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.10em;
}

nav.primary ul li span {
    display: none;
}

nav.primary ul li a:hover {
    background: #112956;
    cursor: pointer;
}

/* sub menu */
nav.primary ul ul {
    position: absolute;
    z-index: 999;
    background: #142D82;
    min-width: 100%;
    height: 0px;
    overflow: hidden;

    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;

    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}

nav.primary ul li:hover ul {
    opacity: 10;
    filter: alpha(opacity=100);

    height: auto;
    overflow: auto;
}

nav.primary ul ul li {
    float: none;
    display: list-item;
    text-align: left;
    border-bottom: 1px solid #112956;
}

nav.primary ul ul li a {
    display: block;
    line-height: 3em;
    text-transform: none;
    text-decoration: none;
}

nav.primary ul li:hover > a {
    background: #112956;
}

/* select (for small screens) */
nav.primary select {
    display: inline-block;
    width: 100%;
    height: 2em;
    margin: 0.5em;
    padding: 0px 10px 0px;
}


/* FlexSlider
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* RESETS (taken from flexslider.css) */
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}

/* BASE STYLES (taken from flexslider.css) */
.flexslider {
  margin: 1.5em 0em 0em;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* FlexSlider Customisation */
.flexslider .slides li figure {
    margin: 0em;
}

.flexslider .flex-control-nav {
    width: 100%;
    text-align: center;
}

.flexslider .flex-control-nav li {
    display: inline;
    margin: 0em 0.5em;
}

.flexslider .flex-control-nav li a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #99CEFF;
    border: 1px solid #80C1FF;

    cursor: pointer;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.flexslider .flex-control-nav li a.flex-active,
.flexslider .flex-control-nav li a:hover {
    background: #142D82;
    border: 1px solid #142D82;
}


/* Services
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
section.services ul {
    list-style: none;
    margin: 0;
}

section.services ul li {
    display: list-item;
    margin: 0.5em;
}

section.services ul li div {
    background: #142D82;
    color: #FFFFFF;
    padding: 0.5em 0.5em 0.5em;

    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

section.services ul li p {
    margin-top: 0px;
    height: 0px;
    overflow: hidden;

    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

section.services ul li div:hover {
    background: #112956;
    cursor: pointer;
}


/* Embedded Google Map
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
#gmap {
    height: 20em;
}


/* Contact
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
section.contact p#address,
section#linkedin p,
section.contact ul li {
    text-align: center;
}

section.contact ul {
    margin: 1em 0em 0.75em;
    list-style: none;
}

section.contact ul li {
    margin-top: 1.5em;
}

section.contact ul li:first-child {
    margin-top: 0em;
}

section.contact ul li img {
    height: 4em;
    width: auto;
}

/* Quick Reads
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
article.quick-read {
    padding: 1em;
    border: 1px solid #E1E1E1;
    margin-bottom: 1em;
}

article.quick-read img {
    width: 100%;
    height: auto;
}

article.quick-read h2 {
    margin: 0em;
}

article.quick-read section.article-text {
    height: 5.5em;
    overflow: hidden;
}

article.quick-read button.expand {
    margin: 0em;
    padding:0em;
    border: none;
    text-transform: none;
    font-family: 'Muli', sans-serif;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    height: auto;
    letter-spacing: inherit;
}


/* Sticky Footer Setup
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
html, body {
  height: 100%;
}

.table-container {
  display: table;
  height: 100%;
  width: 100%;
}

.table-block {
  display: table-row;
  height: 1px;
}

.footer-push {
  height: auto;
}


/* Footer
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/
section.band.footer {
    background: #E6ECF5;
    border-top: 1px solid #E1E1E1;
    margin-top: 1.5em;
    font-size: 0.80em;
}

section.band.footer p {
    text-align: center;
}


/* Media Queries
 * ~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    header {
        text-align: left;
    }
    nav.primary select {
        display: none;
    }

    nav.primary ul {
        display: block;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
